<template>
  <div>
    <swiper class="HomeSwiper">
            <!-- <swiper-item v-for="item in banners" :key="item.id">
                <img :src="`http://47.102.145.189:8009${item.imgSrc}`" alt="">
            </swiper-item>     -->
            <swiper-item v-for="(item,index) in navList" :key="index" class="NavPage">
                <div v-for="(item2,index2) in navList[index]" :key="index2" class="NavItem">
                    <span>
                        {{item2.name}}
                    </span>
                </div>
            </swiper-item>
        </swiper>  
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      navList: [
        [
          { icon: "", path: "", name: "新房" },
          { icon: "", path: "", name: "二手房" },
          { icon: "", path: "", name: "租房" },
          { icon: "", path: "", name: "团购看房" },
          { icon: "", path: "", name: "地图找房" },
          { icon: "", path: "", name: "资讯" },
          { icon: "", path: "", name: "楼市圈" },
          { icon: "", path: "", name: "置业顾问" },
          { icon: "", path: "", name: "经纪人" },
          { icon: "", path: "", name: "预售查询" },
        ],
        [
          { icon: "", path: "", name: "直播" },
          { icon: "", path: "", name: "求租" },
          { icon: "", path: "", name: "求购" },
          { icon: "", path: "", name: "土地市场" },
          { icon: "", path: "", name: "专题" },
          { icon: "", path: "", name: "房贷计算器" },
        ],
      ],
    };
  },
  computed: {
    ...mapState({
      banners: (state) => state.home.banners,
    }),
  },
  methods: {
    ...mapActions({
      getBanner: "home/getBanner",
    }),
  },
  created() {
    this.getBanner();
  },
};
</script>

<style>
.HomeSwiper{
    height: 52vw !important;
}
.NavPage{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
 .NavItem{
    display:inline-block;
    width: 19%;
    text-align:center;
    font-size: 25rpx;
}
</style>